*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body
{
    height: 100%;
    width: 100%;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    flex: 1;
    padding: 0 0 0 0;
    justify-content: flex-start;
    height: 100vh;
    background-color: rgb(203, 180, 180);
}
.quiz-info{
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 40px 10px 40px;
    background-color: lightblue;
   
}
.quiz-info p{
    max-width: 800px;
}
.progress{
    font-size: 20px;
    font-weight: bold;
    background-color: yellow;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,0.2);
}
.image-interactable{
    padding-top: 20px;
    /* background-color: black; */
    flex-direction: row;
}
.image-interactable button{
    width: 100px;
    font-size: 100px;
    font-weight:lighter;
    color: rgb(123, 123, 123);
    transform: scaleY(4);
    background-color: inherit;
    border-width: 0px;
    border-color: none;
    margin: 0 20px 0 20px;
    transition-property: color;
    transition-duration: 0.1s;
}
.image-interactable button:hover{
    cursor: pointer;
}
.image-interactable button:active{
    color: rgb(114, 114, 114);
}
.image-container{
    box-shadow: 5px 5px 10px rgba(0, 0, 0,0.2);
}
.image-container img{
    height: 450px;
}
.answer-container{
    padding: 20px;
    font-size: 20px;
}
.answer-container .text-input{
    background-color: rgba(0,0,0,0);
    border: none;
    font-size: inherit;
}
.answer-container .text-input:focus{
    outline: none;
}
.answer-container .check-button{
    border: none;
    font-size: inherit;
    background-color: lightgreen;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,0.2);
    transition-property: background-color font-size padding;
    transition-duration: 0.2s;
}
.answer-container .check-button:hover{
    background-color: rgb(160, 240, 160);
    font-size: 21px;
    margin: -1px -1.5px -1px -1.5px;
}
.answer-container .check-button:disabled{
    background-color: rgb(100, 129, 100);
}
.correct-marker{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This centers the div */
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
}
.home-page-container{
    background-color: rgb(132, 219, 149);
}
.content{
    display: flex;
    width: 100%;
}
.top-nav{
    position: sticky;
    display: flex;
    /* overflow:hidden; */
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(122, 181, 76);
}
.top-nav a{
    float: left;
    padding: 20px 40px;
    text-decoration: none;
    color: black;
    background-color: rgb(122, 181, 76);
}
.top-nav a:hover{
    background-color: rgb(190, 235, 192);
}
.post-of-week{
    display:flex;
    background-color: rgb(183, 188, 49);
    width:50%;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 20px;
}
.post-of-week img{
    width: 100%;
    border-radius: 20px;
}
.pow-footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.top-ranked,
.recents
{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction:column;
    background-color: white;
    margin-top: 20px;
    overflow-x: hidden;
}
.scroll{
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
/* .scroll:hover{
    scrollbar-width:auto;
} */
.post{
    min-width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: blue;
    border-radius: 10px;
}
.footer{
    width: 100%;
    background-color: green;
    padding: 50px;
    margin-top: 20px;
}