*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body
{
    height: 150vh;
    width: 100%;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quiz-info{
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 40px 10px 40px;
    background-color: lightblue;
   
}

.quiz-info p{
    max-width: 800px;
}
.progress{
    font-size: 20px;
    font-weight: bold;
    background-color: yellow;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,0.2);
}
.image-interactable{
    padding-top: 20px;
    /* background-color: black; */
    flex-direction: row;
}
.image-interactable button{
    width: 100px;
    font-size: 100px;
    font-weight:lighter;
    color: rgb(123, 123, 123);
    transform: scaleY(4);
    background-color: inherit;
    border-width: 0px;
    border-color: none;
    margin: 0 20px 0 20px;
    transition-property: color;
    transition-duration: 0.1s;
}
.image-interactable button:hover{
    cursor: pointer;
}
.image-interactable button:active{
    color: rgb(114, 114, 114);
}
.image-container{
    box-shadow: 5px 5px 10px rgba(0, 0, 0,0.2);
}
.image-container img{
    height: 400px;
}
.answer-container{
    padding: 20px;
    font-size: 20px;
}
.answer-container .text-input{
    background-color: rgba(0,0,0,0);
    border: none;
    font-size: inherit;
}
.answer-container .text-input:focus{
    outline: none;
}
.answer-container .check-button{
    border: none;
    font-size: inherit;
    background-color: lightgreen;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,0.2);
    transition-property: background-color;
    transition-duration: 0.2s;
}
.answer-container .check-button:hover{
    background-color: rgb(160, 240, 160);
}
.answer-container .check-button:disabled{
    background-color: rgb(100, 129, 100);
}
.correct-marker{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This centers the div */
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
}
.post-page-container,
.home-page-container{
    background-color: rgb(132, 219, 149);
    height: 100%;
}
.search-content,
.quiz-content,
.content{
    width: 100%;
    margin:0;
    height: 100%;
    margin-top: 160px;
    justify-content: flex-start;
}
.quiz-content{
    margin-top: 0;
    width: 100%;
}
@media (max-width: 800px){
    .content{
        margin-top: 0px;
    }
    .post-info{
        padding-top: 0px;
    }
}
.top-nav{
    position: sticky;
    display: flex;
    /* overflow:hidden; */
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(122, 181, 76);
}
.top-nav a{
    float: left;
    padding: 20px 40px;
    text-decoration: none;
    color: black;
    background-color: rgb(122, 181, 76);
}
.top-nav a:hover{
    background-color: rgb(190, 235, 192);
}
.post-of-week{
    background-color: rgb(183, 188, 49);
    width:50%;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 20px;
}
.post-of-week img{
    width: 100%;
    border-radius: 20px;
}
.pow-footer{
    width: 100%;
    align-items: left;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-top: 10px;
}
.top-ranked,
.recents
{
    width: 90%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction:column;
    background-color: white;
    margin-top: 20px;
    min-height: 190px;
    overflow-x: hidden;
}
.scroll{
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.post{
    position: relative;
    width: 200px;
    min-width: 200px;
    height: 150px;
    display: inline-block;
    background-color: blue;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}
.post:hover{
    cursor: pointer;
}
.post img{
    width:100%;
    height:auto;
    display: block;

}
.overlay-text{
    position:absolute;
    bottom:0;
    justify-content: space-between;
    padding: 3px 10px 3px 10px;
    color: white;
    flex-direction: row;
    width: 100%;
    text-align: center;
    font-size: 10pt;
    background-color: rgba(0,0,0,0.6);
}
.footer{
    width: 100%;
    background-color: green;
    padding: 50px;
    margin-top: 20px;
}
.search-content{
    margin-top: 0;
}
.search-container,
.search-bar{
    flex-direction: row;
}

.search-container{
    width: 100%;
    justify-content: space-between;
    padding: 40px;
    gap: 50px;
}

.search-bar{
    flex-direction: row;
}
.search-input{
    background-color: rgb(170, 206, 176);
    border: none;
    font-size: 16pt;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,0.2);
}
.search-input:focus{
    outline:none;
    box-shadow: 3px 3px 10px rgba(33, 62, 227, 0.9);
}
.drop-down-button-container{
    display: inline-block;
    position: relative;
}
.drop-down-button-container:hover .drop-down-button-hover{
    display: flex;
}
.drop-down-button-container .drop-down-button-hover{
    display: none;
}
.drop-down-button-hover{
    position: absolute;
    z-index: 999;
    top: 100%;
}
.drop-down-button{
    padding:5px;
    border: none;
    min-width: 100px;
    font-size: 16pt;
    background-color: rgb(52, 108, 90);
}

.drop-down-button{
    transition-property: background-color;
    transition-duration: 0.25s;
}
.drop-down-button:hover{
    cursor: pointer;
    background-color: rgb(155, 233, 229);
}
.drop-down-button:active{
    background-color: rgb(114, 226, 136);
}
.filter-buttons{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}  
.filter-buttons label{
    font-size: 14pt;
    padding: 3px;
}
.filter-buttons input{
    border: none;
    background-color: rgb(255, 255, 255);
    font-size: 14pt;
    padding: 3px;
    border-radius: 5px;
}
.filter-buttons input:hover{
    cursor: pointer;
    background-color: rgb(59, 158, 137);
    color: white
}
.search-post-container{
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 57vh;
    width: 90%;
    gap: 20px;
}
/* Search Post Styling */
.search-post{
    flex-direction: row;
    width: inherit;
    height: 175px;
    border-radius: 20px;
    overflow: hidden;
}
.search-post:hover{
    cursor: pointer;
}
.search-post-desc, 
.info-row{
    background-color: gray;
    flex-direction: row;
    padding:10px;
    justify-content: space-between;
    width: 100%;
}
.search-post-desc{
    height: inherit;
    width: inherit;
    justify-content: space-between;
}
.info{
    height: inherit;
    width: inherit;
    justify-content: space-between;
}
.info-row{
    align-items: center;
    justify-content: space-between;
}
.search-post img{
    height: inherit;
    width: auto;
}
.rank{
    background-color: yellow;
    padding:10px 17px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20pt;
}
.post-body{
    height: 200vh
}
.post-page-container{
    display: flex;
    height: 100%;
    margin-bottom: 40px;
}
.post-content{
    display: flex;
    height: 100%;
    width: 100%;
    margin:0px;
}
.post-info{
    height: 90%;
    width: 100%;
    padding: 20px;
    padding-bottom: 20px;
    justify-content: flex-start;
    gap:20px;
    background-color: orange;
}
.post-info-column{
    height: 80%;
    width: 100%;
    flex-direction: row;
    gap: 20px;
}
.post-info-column img{
    width: fit-content;
    max-width: 80%;
    height: auto;
    border-radius: 20px;
}
.right-card{
    background-color: gray;
    min-height: inherit;
    height: 85%;
    justify-content: space-between;
    padding: 20px;
    width: 400px;
    /* padding-left: 100px;
    padding-right: 100px; */
    border-radius: 20px;

}
.post-description{
    background-color: gray;
    min-height: 300px;
    padding: 20px;
    width: 95%;
    border-radius: 20px;
    justify-content: flex-start;
    font-size: 16pt
}